In [19]:
import pandas as pd
data = pd.read_csv("./raw_data/tx.csv", names=["TX HASH", "COINBASE", "VERSION", "VIN", "VOUT", "SHIELDEDSPEND", "SHIELDEDOUT", "NS"])
data.tail()

,TX HASH,COINBASE,VERSION,VIN,VOUT,SHIELDEDSPEND,SHIELDEDOUT,NS
1391858,55f9432c24,0,4,2,1,0.0,0.0,11900
1391859,3e768caf92,1,4,1,2,0.0,0.0,11300
1391860,e007821d79,1,4,1,2,0.0,0.0,16900
1391861,13678cbea0,1,4,1,2,0.0,0.0,11500
1391862,6f59c32cca,0,4,0,0,1.0,2.0,49662400

In [32]:
data['SHIELDEDSPEND'].max()

305.0

In [33]:
data['SHIELDEDOUT'].max()

15.0

In [20]:
data = data[(data['VERSION'] >= 4) & (data['COINBASE'] == 0)]
data = data[(data['SHIELDEDSPEND'] > 0) | (data['SHIELDEDOUT'] > 0)]

data.head()

,TX HASH,COINBASE,VERSION,VIN,VOUT,SHIELDEDSPEND,SHIELDEDOUT,NS
377418,0882875395,0,4,1,0,0.0,1.0,63680100
377543,dfab67bc80,0,4,0,0,1.0,1.0,78167100
379062,c6a8d28120,0,4,1,1,0.0,1.0,18375100
379276,56268bbca4,0,4,2,1,0.0,1.0,25830400
379279,c00d40f39f,0,4,0,0,1.0,2.0,39461800

In [21]:
# Remove all VIN and VOUT for now
data = data[(data['VIN'] == 0) | (data['VOUT'] == 0)]

In [26]:
data.tail()
data['NS'].dtype

dtype('int64')

In [27]:
data.to_csv(r'./data/sapling-tx.csv')